.photo-card-fav{
  display: flex;
  flex-direction: column;
}

.modal-content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  outline: 0;
}

.modal-photo{
  width: 100%;
  object-fit: cover;
}