.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%;
}

.login-form {
  width: 100%;
  max-width: 400px; 
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}
